body {
    font-family: "Audiowide", sans-serif;
  }

#gameContainer{
    background-color:black;
    display: flex;
}
#gameScreen{
    position:relative;
}
.player-image, .enemy-image {
    height:160px;
    width:80px;
}
#menu{
    position:absolute;
    height:700px;
    width:500px;
    background: url('../assets/menu.png') no-repeat;
    background-size:contain;
    padding:70px;
    top:90px;
    color:white;
    text-align:center;
}
#menu h3 {
    font-size:24px;
    padding:5px;

}

#score-board,#high-score-board {
    position:absolute;
    top:10px;
    right:10px;
    background: url('../assets/score.png') no-repeat;
    background-size:contain;
    height:80px;
    width:170px;
    padding:20px 25px;
    font-weight:bolder;
    color:white;
}

#start-button {
    position:absolute;
    left:120px;
    bottom:150px;
    height:95px;
    width:250px;
    background: url(../assets/button.png) no-repeat;
    background-size:contain;
    border: 0;
    font-family: "Audiowide", sans-serif;
    font-weight:bolder;
    font-size: 20px;
    color:white;
}

#high-score-board{
    left:10px;
    width:200px;
    height:100px;
    text-align: center;
}